@mixin box-shadow($x-axis: 0, $y-axis: 1px, $spread: 0, $blur: 2px, $color: #000) {
  box-shadow: $x-axis $y-axis $spread $blur $color;
}

.App {
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  
  .search-box-list-container {
    position: relative;
    width: 100%;
    margin: 0 auto;
    background: #ebebeb;

    .search-box-container {
      width: 100%;
      margin: 0 auto;
      background: #ebebeb;
      padding: 20px 0;
      
      .search-input-container {
        position: relative;
        width: 450px;
        margin: 0 auto;

        .search-input {
          width: 420px;
          height: 30px;
          line-height: 20px;
          padding: 0 15px;
          border: none;
          border-radius: 3px;
          border-bottom: 1px solid #cfd0d3;
        }
        .search-glass-btn {
          border: none;
          position: absolute;
          right: 5px;
          top: 3px;
          background: none;
        }
        .search-glass {
          position: absolute;
          right: 5px;
          top: 0px;
          color: #4fa4f4;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .stock-list-container {
      position: absolute;
      top: 52px;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      text-align: center;

      .stock-list {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 450px;
        margin: 0 auto;
        padding-left: 0;
        color: #343843;
        background: #fff;
        @include box-shadow(0, 0, 6px, 0, #cbcbcb);
    
        .stock-list-item {
          list-style: none;
          text-align: left;
          padding-left: 15px;
          padding-top: 6px;
          border-bottom: 1px solid #ccc;
          height: 24px;
          font-size: 12px;
          line-height: 18px;
          &:hover { 
            cursor: pointer;
            background: #ffffc0;
          }
        }
      }
    }
  }

  .stock-detail-container {
    margin: 10px;

    .stock-detail-table {
      width: 300px;
      margin: 0 auto;
    }
  }

  .errorTxt {
    color: #ff0000;
    font-size: 14px;
  }
}
